name: test
on:
  push:
    branches: ["main", "bug/**", "feature/**", "githubPage/**", "renovate/**"]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: GitHub Action for Yarn
        uses: Borales/actions-yarn@v3.0.0
        with:
          persist-credentials: false

      - id: prettier-check
        run: yarn format:check
        shell: bash
